.mainApp__ListCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;

    border: 1px solid var(--secondaryModel);
}
.listCards{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    border: 3px solid var(--tertiaryModel);
}
.detail{
    text-decoration: none;
}