*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}

h1, p{
  color: tan;
  border: 1px solid var(--tertiaryModel);
  font-size: 40px;
}

h1,h3{
  margin: 15px;
}
h3{
  color: var(--primaryPage);
  font-size: 25px;
}

.provisoryStyle{
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  border: 1px solid var(--tertiaryModel);
}
.provisoryStyle--Detail{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid var(--tertiaryModel);

}
.provisoryStyle--Detail div{
  text-align: center;
}

.provisoryStyle__Art{
  width: 80vw;
  font-size: 30px;
  border: 1px solid var(--quaternaryModel);
}

.provisoryStyle__Img{
  width: 350px;
  height: 350px;
}
.provisoryStyle__Img img{
  width: 100%;
  height: auto;
}

.detail:-webkit-any-link{
  text-decoration: none;
  color: var(--primaryPage);
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}
.detail:hover:-webkit-any-link{
  color: var(--secondaryPage);
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}
.provisory{
  margin-top: 100px;
}